@import "../../stylesheets/variables";

.button {
  width: max-content;
  min-width: 150px;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 20px;
  font-family: var(--font);
  border: 2px solid var(--light-gray);
  background-color: var(--white);
  color: var(--gray);
  outline: none;
  margin: auto;
  
  &_submit {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: white;
    width: 200px;
    margin: 0 auto;
  }
  
  &_yellow {
    background-color: var(--yellow);
    border: 2px solid var(--yellow);
    color: white;
  }
  
  &_next {
    margin-left: auto;
    margin-right: 0;
  }
  
  &_prev {
    margin-right: auto;
    margin-left: 0;
  }
}
