.navigationSection {

  &__title {
    font-family: var(--font);
    color: var(--dark-blue);
    font-weight: normal;
    text-decoration: none;
    font-size: 20px;
  }
  
  &_type_right {
    text-align: left;
  }
  
  &_type_left {
    text-align: right;
  }
}
