.navigationBar__item {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  color: var(--dark-blue);
  flex: 1;
  text-decoration: none;
  font-family: var(--font);
  &:hover{
    background-color: var(--light-gray);
  }
  &:focus{
    background-color: var(--light-gray);
  
  }
}
