.form_type_auth {
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  width: 600px;
  margin: auto;
  justify-content: space-between;
  
  .form__group {
    width: 70%;
    margin: 0 auto;
  }
  
  input {
    width: 100%;
  }
}
