:root {
  --white: #ffffff;
  --yellow: #f7ca67;
  --green: #618b44;
  --gray: #a8a8a8;
  --light-gray: #d3d3d3;
  --light-gray_v2: #f1f1f1;
  --dark-gray: #636363;
  --blue: #597f8a;
  --light-blue: #b4bfbf;
  --dark-blue: #293844;
  --black: #000000;
  --font: Roboto, sans-serif;
}
