:root {
  --yellow: #f7ca67;
  --primary: #618b44;
  --gray: #a08f87;
  --light-gray: #eae9e5;
  --dark-gray: #5f5c58;
  --blue: #597f8a;
  --light-blue: #b4bfbf;
  --dark-blue: #293844;
  
  --font: Roboto, sans-serif
}
