.react-tabs .react-tabs__tab {
  border: none;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  font-family: var(--font);
  color: var(--dark-gray);
  background-color: #fbfaf6;
  width: 100%;
  padding: 20px;
  border-radius: 0;
  text-align: center;
  position: static;
}

.react-tabs .react-tabs__tab--selected {
  background-color: var(--light-gray);
  position: static;
  color: var(--dark-blue);
  font-weight: bold;
}

.react-tabs .react-tabs__tab-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
}

.formContainer {
  height: max-content;
  margin: auto;
  width: 500px;
  background-color: var(--light-gray);
  border-radius: 3px;
}

.flexContainer {
  display: flex;
}

.calendarContainer {
  width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.icon {
  color: var(--light-gray);
  font-size: 20px;
  margin-bottom: 13px;
  margin-right: 10px;
}

.image {
  width: 400px;
  height: 350px;
  margin: 50px;
}

.navigationSectionsContainer {
  display: flex;
  flex-direction: column;
  height: 500px;
  flex: 1;
  padding: 50px;
  justify-content: space-around;
}

.mainPageContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 100px 0 ;
}

.calendarPageContainer {
  width: 65%;
  margin: 100px auto;
}


@media all and (max-width: 768px) {
  .image {
    display: none;
  }
}
