.step {
  font-family: var(--font);
  font-size: 16px;
  color: var(--gray);
  font-weight: bold;
  padding: 20px 0;
  cursor: pointer;

  &_active {
    color: var(--yellow);
    font-size: 18px;
  }
}
