@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.calendar__label {
  width: 100%;
  margin-top: 5px;
  color: #616161;
  padding: 5px 0;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  font-family: var(--font);

  &_notBlock {
    width: 100%;
    display: flex;
    justify-content: center;

    &:hover {
      background-color: #f0f2f4;
      border-radius: 5px;
      font-weight: bolder;
    }

    &:before {
      margin-right: 10px;
      font-family: 'Material Icons';
      content: 'lens';
      color: var(--red);
    }
  }

  &_block {
    background-color: var(--red);
    color: #ffffff;
    border-radius: 4px;
    text-align: left;
  }
}
