.grid {
  &__col {
    &_whole {
      grid-column: 1/5;
    }

    &_half {
      grid-column: 1/3;
    }

    &_quarter:first-child {
      grid-column: 3/4;
    }

    &_quarter:last-child {
      grid-column: 4/5;
    }
  }

  &__row {
    &_whole {
      &:first-child {
        grid-row: 1;
      }
      grid-row: 2/4;
    }

    &_half,
    &_half:nth-child(2) {
      grid-row: 2;
    }

    &_half:nth-child(3) {
      grid-row: 3;
    }
  }
}
