.gridContainer {
  width: 90%;
  margin: 6rem auto;
  display: grid;
  grid-auto-flow: dense;
  grid-gap: 2rem;

  &_type2 {
    grid-template-columns: minmax(200px, 1fr) 200px 200px;
  }

  &_type3 {
    grid-column-gap: 4rem;
    grid-template-columns: repeat(4, [col] 345px);
    grid-template-rows: repeat(3, [row] auto);
  }
}

.text {
  color: var(--dark-gray);
  white-space: pre-wrap;

  &_yellow {
    color: var(--yellow);
  }

  h2 {
    display: inline-block;
    font-size: 2rem;
  }

  h3 {
    display: inline-block;
    font-size: 1.625rem;
  }
}

.image_gray {
  width: 100%;
  height: 400px;
}
