.form {
  background-color: white;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  min-height: 400px;

  &_type_auth {
    width: 600px;
    margin: 50px auto;
    height: 400px;

    .form__group {
      width: 70%;
      margin: 0 auto;
    }

    input {
      width: 100%;
    }
  }

  &_type_registration {
    flex: 3;
    margin-top: 20px;
    max-width: 700px;

    .form__group:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    flex: 1;
    min-width: 300px;
    max-width: max-content;

    &_type_number {
      min-width: 100px;
    }

    &_horizontal {
      flex-direction: row;

      input:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  &__title {
    color: var(--dark-gray);
    box-shadow: 0 4px 2px -2px var(--light-gray_v2);
    padding: 5px 0;
    font-family: var(--font);
    font-size: 20px;
  }
}
